/web/node_modules
/web/public/build
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/vendor
web/.env
web/.env.backup
web/.env.production
web/.phpunit.result.cache
web/Homestead.json
web/Homestead.yaml
web/auth.json
web/npm-debug.log
web/yarn-error.log
/.fleet
/.idea
/.vscode
